<!DOCTYPE html>
<html>
  <head>
    <title>Movie Recommendation</title>
  </head>
  <body>
    <h1>Movie Recommendation</h1>
    <form method="POST" action="/">
        <select name="input_movie">
          {% for movie in movie_names %}
          <option value=`{{ movie }}`>{{ movie }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Submit">
      </form>
      
    {% if prediction %}
      <p>Based on your selection of "{{ input_movie }}", we recommend "{{ prediction }}".</p>
    {% endif %}
  </body>
</html>