<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Recommendations for {{ search_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <button onClick={window.history.back()}>Back to Home Page</button>
    <div class="movie">
        <h2><u>Movie Recommendations for "{{ search_name }}"</u></h2>
        <table class="movie_table" align="left">
            <tr>
                <th>Movie Title</th>
            </tr>
            <tbody class="table_body">
                <tr>
                    <td>{{ movie_names[0] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[1] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[2] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[3] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[4] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[5] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[6] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[7] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[8] }}</td>
                </tr>
                <tr>
                    <td>{{ movie_names[9] }}</td>
                </tr>
            </tbody>
        </table>

</body>
</html>